:root {
  --background-color: #FBFBFB;
  --link-color: #272727;
  --link-hover-color: #333333;
  --accent-color: #00848A;
  --mono-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
