mixin svg-icon(name)
  case name
    when 'twitter'
      include ../icons/twitter.svg
    when 'github'
      include ../icons/github.svg
    when 'devto'
      include ../icons/devto.svg

div(class="resource_list")
  each item in contacts
    a(class="resource_list__item" href=item.href target="_blank")
      span(class="icon icon--" + item.name)
        +svg-icon(item.name)
