.resource_list {
  --resource-icon-size: 4em;

  @media (width <= 30em) {
    --resource-icon-size: 3em;
  }

  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  .resource_list__item {
    flex: 0 1 var(--resource-icon-size);
    width: var(--resource-icon-size);
    height: var(--resource-icon-size);

    &:hover {
      svg {
        fill: var(--link-hover-color);
      }
    }

    svg {
      fill: var(--link-color);
      width: 100%;
      height: 100%;
    }

    .icon {
      display: block;
      width: var(--resource-icon-size);
      height: var(--resource-icon-size);
    }
  }
}
