<footer class="footer">
  <ul class="contacts">
    {% if site.author.github %}
      <li>
        <a href="https://github.com/{{ site.author.github }}" target="_blank">
          <span class="icon icon--github">{% include icons/github.svg %}</span>
        </a>
      </li>
    {% endif %}

    {% if site.author.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
          <span class="icon icon--twitter">{% include icons/twitter.svg %}</span>
        </a>
      </li>
    {% endif %}

    {% if site.author.devto %}
      <li>
        <a href="https://dev.to/{{ site.author.devto }}" target="_blank">
          <span class="icon icon--devto">{% include icons/devto.svg %}</span>
        </a>
      </li>
    {% endif %}
  </ul>

  <div class="copyright">
    {% if site.copyright %}
      {{ site.copyright | markdownify }}
    {% else %}
      <span>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.</span>
    {% endif %}
  </div>
</footer>
