.footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  height: 60px;
  align-items: center;

  .copyright {
    font-size: 0.8em;
  }

  .contacts {
    display: flex;
    list-style: none;

    li {
      margin-right: 2em;
    }

    svg {
      fill: var(--link-color);
    }
  }
}
