<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include seo.html %}

    <link href="{{ "/assets/bundle.css?v=" | append: site.github.build_revision | relative_url }}" rel="stylesheet">
  </head>
  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    <div class="container">
      {% include header.html %}

      <main class="content">
        {% include contacts.html %}
        {{ content }}
      </main>

      {% include footer.html %}
    </div>
  </body>
</html>
